
<template>
<v-app >
      <div >
      <Navbar />
      </div>
  <header>

  </header>
    <main style="min-height:100vh">
      <v-container>
      <Nuxt />
      </v-container>
    </main>
    
    <footer >
      <Foot/>
    </footer>
  </v-app>
</template>