<template>
    <div>
        Profile
        {{profile_data}}
    </div>
</template>

<script>
export default {
    middleware: 'auth',
     asyncData({ $axios, route, error, store }) {
    const headers = {
      "Content-Type": "application/json",
    };
    const pk = store.getters.getUserInfo.id
      return $axios
        .$get(`/api/v1/pets/profile/${pk}`, {
          headers: headers,
        })
        .then((profile_data) => {
          return {profile_data};
        });
  
  },
}
</script>