<template>
    <div @click="gopage" class=""
           style="background: whitesmoke;width: 100%;cursor:pointer;padding:1rem;color:#7C7C7C">
            <v-icon>mdi-arrow-right-bottom-bold</v-icon>
             <span style="margin-left:1rem">Вернуться</span>
          </div>
</template>

<script>
export default {
    methods: {
        gopage() {
            this.$router.go(-1);
        },
    },
}
</script>