<template>
  <v-bottom-navigation
    color="#d9af56"
    background-color="#545c64"
    horizontal
    dark
    
  >
    <div style="width: 20%; display: flex; align-items: center">
      <img width="36" height="36" src="/icon.png" alt="" />
    </div>
    
    <v-btn @click="Home">
     

      <v-icon>mdi-home-group-minus</v-icon>
    </v-btn>
    <v-btn>
     

      <v-icon>mdi-magnify</v-icon>
    </v-btn>

    <v-btn>
 

      <v-icon>mdi-image-multiple</v-icon>
    </v-btn>

    <v-btn>
    

      <v-icon>mdi-bell-alert</v-icon>
    </v-btn>

    <v-btn>
     

      <v-icon>mdi-file-download-outline</v-icon>
    </v-btn>
    <v-btn  v-if="getUserInfo" @click="OnProfile">
      <v-icon >mdi-dog</v-icon>
    </v-btn>
        <v-btn @click="onSignIn" v-if="!getUserInfo">
      <v-icon >mdi-login-variant</v-icon>
    </v-btn>
        <v-btn @click="logout">
     
      <span>exit</span>
    </v-btn>
        
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
      
    >
    <v-card style="padding:1rem">
    <SignIn :dialog_exit="dialog_exit" :close="close"/>

    
    </v-card>
    </v-dialog>
  </v-bottom-navigation>
</template>

<script>
export default {
    data() {
        return {
            dialog: false,
        };
    },
       computed: {
      getUserInfo() {
        return this.$store.getters.getUserInfo;
      }
    },
    methods: {
      OnProfile(){
        this.$router.push('/profile')
      },
      Home(){
        this.$router.push('/')
      },
      onSignIn(){
        this.$router.push('/login')
      },
     async logout() {
        await this.$auth.logout();  // this method will logout the user and make token to false on the local storage of the user browser
      },
    close(){
      this.dialog = !this.dialog
    },
    dialog_exit(){
      this.dialog = false
    },
    onsign(){
     this.dialog = true
    },
    },
}
</script>
<style scoped>
.search {
  display: flex;
  align-items: center;
}
</style>


