<template>
  <div>
    home
    {{getUserInfo}}
  </div>
</template>

<script>
export default {
  // middleware: 'auth',
   computed: {
      getUserInfo() {
        return this.$store.getters.getUserInfo;
      }
    }
}
</script>