<template>
  <v-container id="forml">
    <v-form
      @submit.prevent="validate"
      lazy-validation
      ref="form"
      v-model="valid"
    >
      <h3>Вход</h3>
      <v-text-field
        v-model="email"
        label="email"
        :rules="emailRules"
        counter
        maxlength="30"
        required
      >
      </v-text-field>
      <v-text-field
        v-model="password"
        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
        :rules="[(v) => !!v || 'Не может быть пустым']"
        :type="show1 ? 'text' : 'password'"
        name="input-10-1"
        label="Пароль"
        hint="Не менее 8 символов"
        counter
        @click:append="show1 = !show1"
      ></v-text-field>
      <div class="text-right">
        <v-btn
          elevation="4"
          rounded
          style="background: #e1cb59; color: white"
          @click="validate"
          class="mt-4"
        >
          Войти
        </v-btn>
      </div>
      <div style="width: 100%" class="mt-4 text-right">
        <Nuxt-link to="/password">Забыли пароль?</Nuxt-link>
        <br />
        <Nuxt-link class="mt-3" to="register">Зарегистрироваться?</Nuxt-link>
      </div>
    </v-form>
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      valid: true,
      email: "",
      password: "",
      show1: false,
      emailRules: [
        (v) => !!v || "E-mai обязателен",
        (v) =>
          !v ||
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail  не валидный",
      ],
    };
  },
  computed: {},
  methods: {
    validate() {
      this.$refs.form.validate();
      if (this.$refs.form.validate()) {
        console.log(55);
        this.login();
      } else {
        console.log("0000");
      }
    },
    async login() {
      try {
        let data = {
          email: this.email,
          password: this.password,
        };
        let response = await this.$auth.loginWith("local", {
          data: data,
        });
        this.$router.push("/");
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style>
#forml {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
}
</style>
