<template>
  <div>
    <GoPage />

    <v-container id="forml">
          <v-alert v-if="alert" type="success" style="position: absolute;
    top: 4em;
    width: 100%;">
      Инструкция отправлена на почту.
    </v-alert>
      <v-form
        @submit.prevent="validate"
        lazy-validation
        ref="form"
        v-model="valid"
      >
        <h3>Востановление пароля</h3>
        <v-text-field
          v-model="email"
          label="email"
          :rules="emailRules"
          counter
          maxlength="30"
          required
        >
        </v-text-field>

        <div class="text-right">
          <v-btn
            elevation="4"
            rounded
            style="background: #e1cb59; color: white"
            @click="validate"
            class="mt-3"
          >
            Востановить
          </v-btn>
        </div>
      </v-form>
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      password2: "",
      valid: true,
      email: "",
      password: "",
      alert:false,
      show1: false,
      show2: false,
      emailRules: [
        (v) =>
          !v ||
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail  не валидный",
      ],
      passwRules: [
        (v) => !!v || "Обязательное поле",
        (v) => (v && v.length >= 7) || "Не менее 8 символов",
        (v) =>
          (v && v.length <= 100) ||
          "This field exceeds maximum allowed characters",
      ],
    };
  },
  computed: {},
  methods: {
    validate() {
      this.$refs.form.validate();
      if (this.$refs.form.validate()) {
        console.log(55);
        this.login();
      } else {
        console.log("0000");
      }
    },
    async login() {
      let data = {
        email: this.email,
      };
       this.alert = true
      // this.$axios
      // .$post(`/api/v1/pets/profile`, data, {
      // })
      // .then((resp) => {
      //   this.$router.push('/login')
      // })
      // .catch(function (error) {
      //   console.log(error);
      // });
    },
  },
};
</script>
<style>
#forml {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 80vh;
  align-items: center;
}
</style>
