<template>
<div>
  <GoPage/>

<v-container id="forml">
  
 <v-form  @submit.prevent="validate"
  lazy-validation  
    ref="form"
    v-model="valid">
     <h3> Регистрация</h3>
               <v-text-field
              v-model="name"
           :rules="[(v) => !!v || 'Не может быть пустым']"
            label="Имя аккаунта"
            counter
            maxlength="30"
            required
          >
          </v-text-field>
          <v-text-field
            v-model="email"
            label="email"
            :rules="emailRules"
            counter
            maxlength="30"
            required
          >
          </v-text-field>
            <v-text-field
              v-model="password"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="passwRules"
              :type="show1 ? 'text' : 'password'"
              name="input-10-1"
              label="Пароль"
              hint="Не менее 8 символов"
              
              counter
              @click:append="show1 = !show1"
            ></v-text-field>

              <v-text-field
              v-model="password2"
              :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
              :rules="passwRules"
              :type="show2 ? 'text' : 'password'"
              name="input-10-1"
              label="Повторите пароль"
              hint="Не менее 8 символов"
              counter
              @click:append="show2 = !show2"
            ></v-text-field>
            <div class="text-right">
   

            
          <v-btn
           elevation="4"
  rounded
          style="background: #e1cb59;
    color: white;"
              @click="validate"
            class="mt-3"
           
          >
             Регистрация
          </v-btn>
          </div>
       
        </v-form>

</v-container>
</div>
</template>
<script>
export default {
  data() {
    return {
        password2:"",
        valid: true,
        email: "",
        password: "",
        name:'',
        show1:false,
        show2:false,
         emailRules: [ 
        v => !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail  не валидный'
      ],
      passwRules: [ 
    v => !!v || "Обязательное поле", 
    v => ( v && v.length >= 7 ) || "Не менее 8 символов",
    v => ( v && v.length <= 100 ) || "This field exceeds maximum allowed characters",
],
      
    };
  },
  computed: {

  },
  methods: {
     validate () {
        this.$refs.form.validate()
        if(this.$refs.form.validate()){
          console.log(55);
          this.login()
        }
        else{
          console.log('0000');
        }
      },
    async login() {
     
        let data = {
          "name":this.name,
          'email': this.email,
          'password':this.password
        }
        this.$axios
        .$post(`/api/v1/pets/profile`, data, {
        })
        .then((resp) => {
          this.$router.push('/login')
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  }
};
</script>
<style>
  #forml{
    display: flex;
    justify-content: center;
    min-height: 80vh;
    align-items: center;
  }
</style>
